$black: #000000 !default;
$gray-darker: #383c3d !default;
$gray-dark: #434748 !default;
$gray: #7b7b7b !default;
$gray-mid: #cccccc !default;
$gray-light: #eaeaea !default;
$gray-lighter: #f2f2f2 !default;
$blue-lighter: #44d69e !default;

$gray-silver: #9aa2b0 !default;
$white: #fff !default;

// 3bee colors
$brand-primary: #ffb000 !default;
$brand-secondary: #007bff !default;